@charset "UTF-8";

#member_box {
	width: 700px;
	margin-left: 25%;
	margin-top: 20px;
	height: auto;
	min-height: 700px;
}

#seller_box {
	width: 400px;
	height: auto;
	min-height: 300px; 
	margin-left: 10%;
	margin-top: 20px;
}

.tp_main_layout {
	display: flex;
	margin: 0;
}


.tp_main_layout #seller_box tr td {
	display: inline-block;
	margin-bottom: 15px;
}