@charset "UTF-8";
/*class . id #  */
html,body {
   width:100%;
   height:100%;
   margin:0;
   font-size:16px;
   font-family: sans-serif;
}
.talent_list_body_container{
	width:100%;
	height:100%;
}
.talent_list_content_container{
   width:100%;
   height:auto;
   min-height:60%;
}

.talent_list_content_sidebar_container{
   width:12%;
   margin-left:2%;
   height:auto;
   float:left;
}

.tt_cont{
   width:85%;
   height:auto;
   float:left;
}

.table_container{
   width:80%;
   height:auto;
   min-height:700px;
   margin-left:5%;
   float:left;
}

.table_container table{
   width:100%;
   height:auto;
   margin:0;

}
#main_box {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

#title {
	text-align: center;
	font-size: 26pt;
	font-weight: bold;
	color: gray;
	text-shadow: 1px 1px 1px black;
}

input[type='button'] {
	width: 100px;
}

th, td {
	text-align: center;
}

#empty_message {
	text-align: center;
	color: red;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 50px;
}

.thumbnail {
   margin:auto;
   width:100px;
   height: 70%;
}

td{
   text-align: center;
}
th{
   text-align: center;
}



.container_bx{
   width:100%;   
   height:auto;
}

.container_pr{
   width:25%;
   height:300px;
   margin-top:3%;
   float:left;
}

.p_dt{
   width:98%;
   height:60%;
   margin:auto;
}

.p_dt>a>img{
   width:95%;
   height:100%;
   border-radius:10px;
}

.p_dt>a>img:hover{
   width:98%;
   height:100%;
}


.p_dt>a{
   width:95%;
   height:100%;
}

.h_dt{
   width:90%;
   height:20%;
   margin:auto;
   font-size:20px;
   color:#000000;
}

.h_dt>a {
   color:#000000 !important ;
}

.price_dt{
   width:90%;
   height:10%;
   margin:auto;
   text-align:right;
   font-size:25px;
   font-weight:bold;
}

.price_dt>a {
   color:#000000 !important ;
}

.s_dt{
   width:90%;
   height:10%;
   margin:auto;
   margin-top:1%;
   text-align:right;
   font-size:20px;
   color:#000000;
}

.s_dt>a {
   color:#000000 !important ;
}

.button_box{
   margin-top:10%;
   margin-left:2%;
   width:85%;
   float:left;
}

.select_box{
   width:85%;
   float:left;
}


.f_section{
   width:95%;
   height:auto;
   margin-top:30px;
   margin:auto;
}

/*ν‘Έν„° */
.talent_detail_footer_container{
	width:100%;
	height:auto;
	min-height:220px;
}
.footer{
	width:90%;
	margin:auto;
	height:auto;
}
/*ν—¤λ” */
.talent_list_header_container{
	width:100%;
	height:auto;
	min-height:200px;
}
.header{
	width:90%;
	margin:auto;
	height:auto;
}
#search_text{
	margin-top:3%;
	width: 22%;
}
.pagemenu{
	text-align: center;
	 font-size: 12pt;
}
