@charset "UTF-8";
/*class . id #  */
html,body {
   width:100%;
   height:100%;
   margin:0;
   font-size:16px;
   font-family: sans-serif;
}
.talent_detail_body_container{
   width:100%;
   height:100%;
}
.talent_list_content_container{
   width:90%;
   margin:auto;
   height:auto;
}

.table_container{
   width:100%;
   height:100%;
   margin-bottom:10%;
   float:left;
}

.table_container table{
   width:100%;
   height:auto;
   margin:0;

}

.thumbnail {
   margin:auto;
   width:100px;
   height: 70%;
}

td{
   text-align: center;
}
th{
   text-align: center;
}


.talent_list_content_sidebar_container{
   width:15%;
   height:auto;
   margin-top:2%;
   float:left;
}

.container_bx{
   width:100%;   
   height:auto;
}

.container_pr{
   width:25%;
   height:300px;
   margin-top:3%;
   float:left;
}

.p_dt{
   width:98%;
   height:60%;
   margin:auto;
}

.p_dt>a>img{
   width:95%;
   height:100%;
   border-radius:10px;
}

.p_dt>a>img:hover{
   width:98%;
   height:100%;
}


.p_dt>a{
   width:95%;
   height:100%;
}

.h_dt{
   width:90%;
   height:20%;
   margin:auto;
   font-size:20px;
   color:#000000;
}

.h_dt>a {
   color:#000000 !important ;
}

.price_dt{
   width:90%;
   height:10%;
   margin:auto;
   text-align:right;
   font-size:25px;
   font-weight:bold;
}

.price_dt>a {
   color:#000000 !important ;
}

.s_dt{
   width:90%;
   height:10%;
   margin:auto;
   margin-top:1%;
   text-align:right;
   font-size:20px;
   color:#000000;
}

.s_dt>a {
   color:#000000 !important ;
}

.button_box{
   margin-top:10%;
   margin-left:2%;
   width:85%;
   float:left;
}

.select_box{
   width:85%;
   float:left;
}

.tt_cont{
   width:80%;
   height:auto;
   margin-left:5%;
   float:left;
}

.f_section{
   width:95%;
   height:auto;
   margin-top:30px;
   margin:auto;
}